/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 16-May-2024, 2:51:00 pm
    Author     : Lenovo
*/

/*Top nav bar style start*/

.myColor1{
    background-color: #424242;
}
.myColor2{
    background-color: #004d40;
}
.myColor3{
    background-color: #424242;
}
/*Top nav bar style stop*/
